<% include ./partials/header.ejs %>

<a href="/">Go back</a>

<header>
	<h1><%= poll.question %></h1>
</header>


<form action="/poll/<%= poll._id %>" method="POST">
	<ul>
		<% poll.choices.forEach(function(choice) { %>
			<li class="poll--choice">
				<input id="<%= choice.id %>" type="radio" name="poll-choice" value="<%= choice.id %>" required/>

				<label for="<%= choice.id %>">
					<p><b><%= choice.answer %></b></p>
					<p>votes: <%= choice.votedOn %></p>
				</label>
			</li>
		<% }) %>
	</ul>

	<input type="submit" />
</form>

<script src="/index.js"></script>

<% include ./partials/footer.ejs %>