<% include ./partials/header.ejs %>

<a href="/">Go back</a>

<header>
	<h1><%= poll.question %></h1>
</header>


<form action="/poll/<%= poll._id %>" method="POST">
	<ul>
		<% poll.choices.forEach(function(choice) { %>
			<li class="poll--choice">
				<input id="<%= choice.id %>" type="radio" name="poll-choice" value="<%= choice.id %>" required/>

				<label for="<%= choice.id %>">
					<p><b><%= choice.answer %></b></p>
					<p>votes: <%= choice.votedOn %></p>
				</label>
			</li>
		<% }) %>
	</ul>

	<input type="submit" />
</form>

<script>
	var ws = new WebSocket('ws://localhost:40510/poll');
	// Call on the on('connection')
   ws.onopen = function () {
		console.log('websocket is connected ...')
		// Send to the on 'message' in the server
      ws.send('connected')
   }

	// Happens on all 'ws.send()' calls from the server
   ws.onmessage = function (e) {
		console.log('message', e);
	}
	
	ws.onclose = function(e) {
		ws.send('Close WS connection');
	}
</script>

<% include ./partials/footer.ejs %>